/* Responsive Font Sizes */
/* Pretty ACF Forms */
/* Centered Text / Img on one side, text on other */
.et_pb_row.centered-text {
  display: flex;
}
.et_pb_row.centered-text .et_pb_column {
  display: flex;
  flex-flow: column nowrap;
  float: none;
  justify-content: center;
}
.et_pb_row.centered-text .et_pb_column .et_pb_module {
  margin: 0 auto 30px;
  max-width: 550px;
  width: 70%;
}
.et_pb_row.centered-text .et_pb_column .et_pb_module:first-child {
  margin-top: 90px;
}
.et_pb_row.centered-text .et_pb_column .et_pb_module:last-child {
  margin-bottom: 90px;
}

/* Testimonial-Slider */
/* Cookie Notice */
#cookie-notice #cn-close-notice {
  display: none;
}

#page-container #top-menu-nav > ul > li > a:hover, #page-container .bottom-nav a:hover, #page-container #footer-bottom .et-social-icon a:hover, #page-container .et_mobile_menu li a:hover, #page-container .nav ul li a:hover, #page-container footer#main-footer #footer-info a:hover, #page-container .et-menu a:hover, #page-container #et-boc #top-menu-nav > ul > li > a:hover, #page-container #et-boc .bottom-nav a:hover, #page-container #et-boc #footer-bottom .et-social-icon a:hover, #page-container #et-boc .et_mobile_menu li a:hover, #page-container #et-boc .nav ul li a:hover, #page-container #et-boc footer#main-footer #footer-info a:hover, #page-container #et-boc .et-menu a:hover {
  opacity: 1;
}

@media only screen and (min-width: 981px) {
  .et_pb_top_divider .et_pb_row.centered-text .et_pb_column .et_pb_module:first-child {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 980px) {
  .et_fixed_nav header#main-header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .et_pb_row.reverse-responsive {
    display: flex;
    flex-flow: column-reverse;
  }
  .et_pb_row.reverse-responsive .et_pb_column:first-child {
    margin-bottom: 0;
  }
  .et_pb_row.reverse-responsive .et_pb_column:last-child {
    margin-bottom: 30px;
  }

  .et_pb_row.centered-text {
    flex-flow: column nowrap;
  }
  .et_pb_row.centered-text .et_pb_column.et_pb_column_empty {
    min-height: 440px;
  }
  .et_pb_row.centered-text .et_pb_column .et_pb_module {
    width: 80%;
  }

  /* fullwidth mobile nav menu */
}
@media only screen and (max-width: 600px) {
  body.et_fixed_nav.logged-in header#main-header.et-fixed-header {
    top: 0 !important;
  }
}
@media only screen and (max-width: 479px) {
  .container, .et_pb_row, .et_pb_row.centered-text .et_pb_column .et_pb_module {
    width: 90%;
  }
}