$white: #fff;
$black: #000;
$highlight: #575793;
$creme: #faf6e9;
$brown: #c36c0c;
$dark-blue: darken($highlight, 10%);
$light-grey: #E7E7EB;

/* #region Font Definitions */
@import 'trajan-pro';
@import 'league-spartan';
@import 'dynalight';
$font-stack: 'League Spartan', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$header-font-stack: 'Trajan Pro', 'Times New Roman', 'Times', 'Georgia', serif;
$fancy-font-stack: 'Dynalight', 'Snell Roundhand', 'Freestyle Script', cursive;
/* #endregion */

/* #region Flex-Designs */
@mixin centerflex($flow: row, $wrap: nowrap, $juscon: center, $aitems: center) {
	display: flex;
	justify-content: $juscon;
	align-items: $aitems;
	flex-flow: $flow $wrap;
}
/* Centered Text / Img on one side, text on other */
%centered-text {
	display: flex;
	.et_pb_column {
		display: flex; 
		flex-flow: column nowrap;
		float: none;
		justify-content: center;
		.et_pb_module {
			margin: 0 auto 30px;
			max-width: 550px;
			width: 70%;
			&:first-child { margin-top: 90px; }
			&:last-child { margin-bottom: 90px; }
		}
	}
}
/* #endregion */
/* #region Placeholder Mixin */
@mixin placeholder ($color: #333, $opacity: 0.8) {
	&::-webkit-input-placeholder { // Chrome/Opera/Safari
		color: $color;
		opacity: $opacity;
	}
	&::-moz-placeholder { // Firefox 19+
		color: $color;
		opacity: $opacity;
	}
	&:-ms-input-placeholder { // IE 10+
		color: $color;
		opacity: $opacity;
	}
	&:-moz-placeholder { // Firefox 18-
		color: $color;
		opacity: $opacity;
	}
}
/* #endregion */
/* #region Forms & Selects */
%magic_select {
	position: relative;
	background: $white;
	&::before {
		color: $black;
		content: "C";
		font-family: 'EtModules';
		pointer-events: none;
		position: absolute;
		right: 7px;
		top: 8px;
		z-index: 10;
	}
	select {
		-webkit-appearance: none;
		appearance: none;
		border: none;
		cursor: pointer;
		font-size: 1rem;
		outline: none;
		padding: .75rem .5rem;
		position: relative;
		width: 100%;
	}
}
/* #region Pretty ACF Forms */
%pretty-input {
	background-color: $white;
	border-radius: 0;
	border: 1px solid transparent;
	color: $black;
	font-family: $font-stack;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 10px;
	padding: 0.75rem 0.8rem 0.4rem !important;
	transition: all 300ms ease;
	// transition: all 200ms ease;
	&:focus, &:active {
		border-color: $highlight;
	}
	@include placeholder($black, '0.8');
}
%pretty-input:not([type="checkbox"]) { width: 100%; }
%pretty-input[type="checkbox"] { cursor: pointer; }
%pretty-acf-form {
	.acf-fields { @include centerflex(row, wrap, space-between, flex-start); }
	.acf-field {
		border: none;
		padding: 0;
		.acf-label { display: none; }
		input, textarea { @extend %pretty-input; }
	}
}
/* #endregion */
/* #endregion */
/* #region Testimonial Slider */
%testimonial-slider {
	.et_pb_slide {
		.et_pb_slider_container_inner {
			@include centerflex(column, nowrap, flex-start, center);
			.et_pb_slide_image {
				animation: none;
				bottom: auto;
				margin: auto !important;
				position: relative;
				top: auto;
			}
			.et_pb_slide_description {
				padding-bottom: 110px;
				padding-top: 40px;
				text-align: center;
				width: 80%;
				.et_pb_slide_content {
					font-size: 2rem;
					font-family: 'Lusitana';
					line-height: 1.7em;
					color: $black;
					.testimonial-author {
						font-size: 1rem;
						font-family: $font-stack;
						font-weight: 700;
						line-height: 1.4em;
					}
				}
			}
		}
	}
	.et-pb-arrow-prev {
		top: 45%;
		&::before {
			color: $highlight;
			content: "D";
		}
	}
	.et-pb-arrow-next {
		top: 45%;
		&::before {
			color: $highlight;
			content: "E";
		}
	}
	.et-pb-controllers a.et-pb-active-control {
		background-color: $highlight;
		border-color: $highlight;
	}
	.et-pb-controllers a {
		background-color: transparent;
		border: 2px solid $highlight;
		height: 15px;
		opacity: 1;
		width: 15px;
	}
}
/* #endregion */
/* #region Blog-Feed (Grid) */
%blog-design-grid {
	> .et_pb_ajax_pagination_container {
		@include centerflex(row, wrap, space-between, stretch);
		> article {
			width: 29.6667%;
		}
		> div { 
			order: 100;
			width: 100%;
		}
		&::after {
			content: "";
			height: 0;
			order: 90;
			width: 30%;
		}
	}
}
/* #endregion */
/* #region Lists with colored bullet points */
%highlight-list {
	list-style: none;
	li {
		margin-bottom: 1rem;
		position: relative;
		&::before {
			background-color: $highlight;
			border-radius: 50%;
			content: "";
			height: .4rem;
			left: -1rem;
			position: absolute;
			width: .4rem;
			margin-top: 7.5px;
		}
	}
}

/* #endregion */
/* #region Fix Divi Comments */
.commentlist {
	margin-top: 1rem;
	.comment-body {
		padding-right: 0;
		.comment_avatar {
			top: 0;
			img { border-radius: 50%; }
		}
		.comment_area {
			.reply-container {
				display: block;
				text-align: right;
			}
			.comment-reply-link {
				position: relative;
				top: 1rem;
				&::after {
					font-size: 20px;
				}
			}
		}
	}
	.comment {
		.children {
			margin-left: 2rem;
		}
	}
}
/* #region max-width 767px */
@media only screen and (max-width: 767px) {
	.commentlist {
		.comment {
			.children {
				margin-left: 1rem;
			}
		}
		article.comment-body {
			align-items: stretch;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin-bottom: 70px;
			padding-left: 0;
		}
		.comment_avatar {
			align-items: center;
			display: flex;
			position: relative;
			width: 17%;
			img {
				max-width: 100%;
				width: 100%;
			}
		}
		.comment_postinfo {
			align-items: flex-start;
			display: flex;
			flex-flow: column;
			justify-content: center;
			line-height: 1.1;
			margin: 0 0 3px;
			row-gap: 5px;
			width: 77%;
		}
		.comment_area {
			margin-top: 5px;
			width: 100%;
		}
	}
}
/* #endregion */
/* #endregion */
/* #region Centered Page Navi */
%pagenavi {
	align-items: center;
	border-top: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	> a, > span {
		margin: 0 10px;
	}
	> a.page, span.current {
		align-items: center;
		background-color: transparent;
		border-radius: 50%;
		color: $black !important;
		display: flex;
		font-family: $font-stack;
		font-size: 24px !important;
		height: 35px;
		justify-content: center;
		min-width: 35px;
		text-align: center;
	}
	> a {
		font-weight: 700;
	}
	span.current {
		background-color: $highlight;
	}
	.next-page, .prev-page {
		display: flex;
		margin: 0;
		&::before {
			// background: url("/wp-content/uploads/2021/09/Pfeil-links.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			content: "E";
			display: inline-block;
			font-family: 'ETModules';
			width: 2.2rem;
			height: 2rem;
		}
	}
	.next-page {
		transform: scale(-1, -1);
	}
}
/* #endregion */
/* #region Cookie Notice */
#cookie-notice #cn-close-notice { display: none; }
/* #endregion */
/* #region Footer */
/* Footer with non-floating widgets */
%mrkz_forever_lul {
	#footer-widgets {
		@include centerflex(row, wrap, flex-start, stretch);
		.footer-widget {
			float: none;
			.et_pb_widget {
				float: none;
				position: relative;
				width: 100%;
			}
		}
	}
}
/* #endregion */
/* #region Nav Fixes */
#page-container, #page-container #et-boc {
	#top-menu-nav>ul>li>a:hover, .bottom-nav a:hover, #footer-bottom .et-social-icon a:hover, .et_mobile_menu li a:hover, .nav ul li a:hover, footer#main-footer #footer-info a:hover, .et-menu a:hover { 
		opacity: 1; 
	}
}
/* #endregion */
/* #region Responsive Design */
/* #region min-width 981px */
@media only screen and (min-width: 981px) {
	.et_pb_top_divider .et_pb_row.centered-text .et_pb_column .et_pb_module:first-child { margin-top: 100px; }
}
/* #endregion */
/* #region max-width 980px */
@media only screen and (max-width: 980px) {
	.et_fixed_nav {
		header#main-header {
			left: 0;
			position: fixed;
			top: 0; 
			width: 100%;
		}
	}
	.et_pb_row.reverse-responsive { 
		display: flex;
		flex-flow: column-reverse; 
		.et_pb_column:first-child { margin-bottom: 0; }
		.et_pb_column:last-child { margin-bottom: 30px; }
		&.et_pb_gutters1 {
			.et_pb_column:last-child { margin-bottom: 0; }
		}
	}
	%centered-text {
		flex-flow: column nowrap;
		.et_pb_column {
			&.et_pb_column_empty { min-height: 440px; }
			.et_pb_module { width: 80%; }
		}
	}
	/* #region Pimp my mobile Menu Icon */
	.mobile_menu_bar::before {
		display: block;
		transition: all .4s ease;
	}
	.mobile_nav.opened .mobile_menu_bar::before {
		content: "M";
		transform: rotate(90deg);
	}
	/* #endregion */
	/* fullwidth mobile nav menu aka gooder menu */
	%fullwidth-mobile-nav {
		> .container { 
			position: static; 
			#mobile_menu {
				background-color: $white;
				border-top: none;
				box-shadow: 0px 3px 3px #0000001a !important;
				padding: 30px 12% 15px;
				width: 100%;
				li {
					padding: 0 0 18px;
					a { 
						background: none;
						border: none;
						color: $black;
						font-size: 18px;
						font-weight: 400;
						padding: 0;
						&:hover {
							background: transparent;
						}
					}
				}
			}
		}
	}
	%testimonial-slider {
		.et_pb_slide {
			padding: 0;
			.et_pb_slider_container_inner .et_pb_slide_description { width: 100%; }
		}
			.et-pb-arrow-prev, .et-pb-arrow-next { display: none; }
	}
	%blog-design-grid {
		> .et_pb_ajax_pagination_container {
			> article { width: 47.5%; }
		}
	}
}
/* #endregion */
/* #region max-width 600px */
@media only screen and (max-width: 600px) {
	body.et_fixed_nav.logged-in header#main-header.et-fixed-header { top: 0 !important; }
	%blog-design-grid {
		> .et_pb_ajax_pagination_container {
			> article { width: 100%; }
		}
	}
}
/* #endregion */
/* #region max-width 479px */
@media only screen and (max-width: 479px) {
	.container, .et_pb_row, .et_pb_row.centered-text .et_pb_column .et_pb_module, .et_pb_fullscreen .et_pb_fullwidth_header_container { width: 90%; }
}
/* #endregion */
/* #endregion */
